.input-data {
  &__input {
    margin: 0 12px;
  }
}

.fair-value-matrix {
  td {
    padding: 36px;
  }

  .center {
    background-color: #90EE90;
  }

  .mid {
    background-color: #F0E68C;
  }

  .edge {
    background-color: #F08080;
  }

  .header {
    background-color: #87CEFA;
  }
}
